.remove-row {
    background-color: #f73;
    padding: 3px 12px;
    border-radius: 20px;
    color: white;
    margin-left: 20px;
}

body {
    margin: 0;
    background-color: #052d40;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.Slot-letter{

}
.round-small-slot {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 30px;
    color: #d34600;
    border-radius: 50%;
    background-color: white;
    float: left;
    margin-right: 10px;
    font-weight: 700;
}
.round-small-number {
    width: 8.5vw;
    height: 8.5vw;
    float: left;
    margin-right: 1vw;
}
.div-credit{
    text-align:right;
}

.bet-amount {
    padding: 10px 0px;
    height:45px;
}
.span-betamount {
    padding: 5px;
    border: solid 1px white;
    width: 100px;
    border-radius: 15px;
}
.span-clear-betamount {
    color: #f73;
    font-size: large;
    font-weight: 700;
    margin-left:5px;
}
.div-time {
    text-align: right;
}
.div-slot{
    height:60px;
}
.div-container-number {
    width: 95vw;
    position: absolute;
    left: 0;
    margin: 0vw 2.5vw;
    max-width:800px;
    padding-bottom:50px;
}
.div-number {
    line-height: 8vw;
    text-align: center;
    font-size: 4.3vw;
    color: black;
    border-radius: 50%;
    border: solid 2px white;
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 0 5%;
}
.div-rownumber{
    height:9.5vw;
}
.bet-type {
    background-color: white;
    color: black;
    padding: 12px;
    margin: 5px;
    /* margin-right: 10px; */
    /* font-size: large; */
    width: 100%;
    /* float: left; */
    font-size: 20px;
    text-align: center;
    /* font-weight: bold; */
    font-family: 'Muol';
    position: relative;
    color: #d34600;
    border-radius: 5px;

}

 .active {
    background-color: #f73 !important;
    color: white !important;
    border-color:#f73 !important;
}

.addButton {
    background-color: #f73 !important;
    color: white !important;
    border-color: #f73 !important;
    height:90%;
    margin-left:10px !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #063349;
    left:0;
}

.action-button {
    background-color: white;
    color: black;
    padding: 12px;
    margin-right: 0px;
    font-size: large;
}
.div-total{
    padding:5px;
    font-size:large;
}
.botton-close{
    color:white;
    padding:5px;
    font-weight:bold;
}
.div-popup-betamount {
    position: fixed;
    z-index: 9999;
    background-color: rgb(0 0 0 / 70%);
    width: 100vw;
    height: 100vh;
    left: 0;
    top:0;
    padding: 10px;
}
.confirm-popup-title{
    background-color:#f73;
    padding:5px;
    font-size:x-large;
}
.button-betamount {
    width: 25%;
    padding: 10px;
    font-size: large;
    float: left;
    background-color: white;
    margin: 4%;
    color: black;
    text-align: center;
    border-radius: 5px;
}
.span-total{
    padding:5px;
    font-weight:bold;
}
.alert-popup-title {
    padding: 5px;
    font-size: x-large;
    text-align: center;
    color: white;
    font-weight: bold;
}
.div-confirm-action{
    text-align:center;
}
.div-container{
    max-width:600px;
}
.div-popup-detail {
    padding: 10px;
    border-radius: 15px;
}

.button-ok {
    background-color: white;
    color: black;
    padding: 10px;
    margin-right: 0px;
    border: solid 1px #f73;
    border-radius: 15px;
}

.font-Khmer {
    font-family:'Muol';
}