@page
@model SignalR.Pages.betnowModel
@{
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>


<script type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/js/betnow.js?v=15"></script>
<script type="text/javascript" src="~/js/public.js?v9"></script>

<div class="div-popup-betamount" id="div_alert" style="display:none;">
    <div class="div-popup-detail">
        <div class="alert-popup-title font-Khmer" id="div_alert_title">តើអ្នកដកប្រាក់ឈ្នះនេះមែនទេ?</div>
        <div class="div-confirm-action" id="div_confirm_action">

            <span class="span-confirm-action"><input type="button" value="យល់ព្រម" class="button-ok font-Khmer" onclick="alertok()" /></span>
        </div>
    </div>
</div>

<div class="div-popup-betamount" id="div_alert_submit" style="display:none;">
    <div class="div-popup-detail">
        <div class="alert-popup-title font-Khmer">កំពុងដំណើរការ</div>
        <div class="div-confirm-action font-Khmer" id="div_confirm_action">
            សូមរង់ចាំ កំពុងដំណើរការ...

        </div>
    </div>
</div>

<div class="div-container">
    <input id="hdGameID" type="hidden" value="0" />
    <input id="hd_placeid" type="hidden" value="0" />
    <input id="hdBetType" type="hidden" value="number" />
    <input type="hidden" id="hdinput_number" value="" />
    <input type="hidden" id="hd_betamount" value="0" />
    <input type="hidden" value="" id="hdUsername" />

    <div>
        <table style="width:100%">
            <tr>
                <td style="text-align:left">
                    <div style="text-align:left;margin: 10px 0px;">
                        <span onclick="backhome()" style="background-color: #f73;padding: 10px;border-radius: 10px;color: white;"><i class="fas fa-home" aria-hidden="true"></i></span>
                        <span onclick="refreshpage()" style="background-color: #f73;padding: 10px;border-radius: 10px;color: white;"><i class="fas fa-refresh"></i></span>

                        <span onclick="history()" style="background-color: #f73;padding: 10px;border-radius: 10px;color: white;margin-left:20px;"><i class="fa fa-bars" aria-hidden="true"></i></span>
                        <span onclick="viewformscan()" style="background-color: #f73;padding: 10px;border-radius: 10px;color: white;margin-left:20px;"><i class="fa fa-qrcode" aria-hidden="true"></i></span>

                    </div>
                </td>
                <td style="width:33%;text-align:center">
                    <div id="div_credit" class="div-credit"></div>
                    <div id="div_GameID" class="div-gameid"></div>
                </td>
            </tr>
        </table>
    </div>

    <div id="div_time" class="bet-amount div-time"></div>

    <div class="d-flex justify-content-around">
        <span class="bet-type" onclick="BetClick(this)">ស្តើង</span>
        <span class="bet-type" onclick="BetClick(this)">ស្មើ</span>
        <span class="bet-type" onclick="BetClick(this)">ក្រាស់</span>
    </div>

    <div class="d-flex flex-row pt-3 pb-3">
        <div class="p-2 font-Khmer">ទឹកប្រាក់ភ្នាល់:</div>
        <div class="p-2 span-betamount" id="betAmount">0R</div>
        <div class="p-2 span-clear-betamount" onclick="betnow(0)">C</div>
        @*<div class="p-2 addButton font-Khmer" onclick="addTemp()">បញ្ចូល</div>*@
    </div>

    <div id="div_betamount_option"></div>

    <div class="row font-Khmer" style="font-size:17px"​ id="data-temp"></div>
   

    <div class="footer">
        <table style="width:100%">
            <tr>
                <td>
                    <div class="div-total font-Khmer">សរុប: <span class="span-total" id="span_totalbetamount"></span></div>
                </td>
                <td>
                </td>
                <td>
                    <div style="text-align:right;">
                        <span id="btnSubmit" ​ style="width: 130px;text-align:center;float: right;" class="action-button active font-Khmer" onclick="submit()">បញ្ជូន</span>
                        <span id="btnDelete" ​ style="width: 100px;text-align:center;float: right;" class="action-button font-Khmer" onclick="clear_betting()">លុប</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>


<link href="~/css/betnow.css?v=12" rel="stylesheet" />