@page
@model SignalR.Pages.ReportModel
@{
    ViewData["Title"] = "Report page";
}

    <script src="js/jquery.min-3.1.1.js"></script>   
@*<script src="js/jquery.min-2.1.3.js"></script>*@
<script src="js/report.js?v=7"></script>
<script src="https://kit.fontawesome.com/7603579037.js" crossorigin="anonymous"></script>
<link href="~/css/report.css?v=10" rel="stylesheet" />

 <link href='~/css/jquery-ui.css'   rel='stylesheet'>
      
   
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/public.js"></script>
<style>
    
</style>
<div>   

    <div class="div-popup" id="div_popup_master" style="display:none;;z-index:999">
         <div class="div-popup-detail">

        <div class="div-popup-close"><span class="alert-popup-title" id="div_popup_title_master">Master</span><span class="span-close" onclick="closepopup_master()"><i class="fa fa-arrow-left" aria-hidden="true"></i></span></div>
        <div id="div_popup_master_detail">

        </div>
        </div>
</div>


<div class="div-popup" id="div_popup_agent" style="display:none;;z-index:9999">
         <div class="div-popup-detail">

        <div class="div-popup-close"><span class="alert-popup-title" id="div_popup_title_agent">Agent</span><span class="span-close" onclick="closepopup_agent()"><i class="fa fa-arrow-left" aria-hidden="true"></i></span></div>
        <div id="div_popup_agent_detail">

        </div>
        </div>
</div>

<div class="div-popup" id="div_popup_member" style="display:none;z-index:999999 !important">
         <div class="div-popup-detail">

        <div class="div-popup-close"><span class="alert-popup-title" id="div_popup_title_member">Member</span><span class="span-close" onclick="closepopup_member()"><i class="fa fa-arrow-left" aria-hidden="true"></i></span></div>
        <div id="div_popup_member_detail">

        </div>
        </div>
</div>


    <input type="hidden" value="Under Sale" id="hdReportName" />
     <input type="hidden" value="" id="hdUsername" />
        <div style="text-align:left;margin: 25px 0px;">
            <span onclick="backhome()" style="background-color: white;  padding: 10px; border-radius: 10px;"><i class="fas fa-home" aria-hidden="true"></i></span>
            <span onclick="refreshpage()" style="background-color: white;  padding: 10px; border-radius: 10px;"><i class="fas fa-refresh" aria-hidden="true"></i></span>
        </div>

    <div style="height: 35px;">
        <div id="div_undersale" class="Report-Header" onclick="selectreport('Under Sale')">Sale Report</div>
        <div id="div_balance" class="Report-Header-inactive" onclick="selectreport('Balance')">Balance Report</div>
    </div>
    <div>
                <div  class="div-date-caption"><div class="date-caption">ចាប់ពីថ្ងៃ:</div><span><input class="date-textbox" type="text" id="txtstartdate" onchange="preview()"></span></div>
                <div  class="div-date-caption"><div class="date-caption">ដល់ថ្ងៃ:</div><span><input  class="date-textbox" type="text" id="txtenddate" onchange="preview()"></span></div>
</div>
    <div id="div_report">

    </div>

    <script>
        $(document).ready(function() {
          
            $(function() {
                $("#txtstartdate").datepicker(
                {
                    dateFormat: 'dd-mm-yy',
                    
                }).datepicker("setDate",'now');
                 $("#txtenddate").datepicker(
                 {
                    dateFormat: 'dd-mm-yy',
                    
                 }).datepicker("setDate",'now');
            });
           
        })
    </script>

    </div>
