@page
@model SignalR.Pages.ScanResultModel
@{
    ViewData["Title"] = "Home page";
}


 <script src="js/jquery.min-3.1.1.js"></script> 

<script src="js/public.js"></script>
<script src="js/scanresult.js?v=17"></script>
<link href="~/css/betting.css" rel="stylesheet" />
<link href="~/css/mycss.css" rel="stylesheet" />
<link href="~/css/scan.css?v=6" rel="stylesheet" />

 <link href='~/css/jquery-ui.css'   rel='stylesheet'>
    <script src="js/jquery-ui.min.js"></script>
<style>
   
</style>
 <input type="hidden" value="" id="hdUsername" />
<div class="div-container">
    <div class="div-popup" id="div_search" style="display:none;">
        <div class="div-popup-detail-user">
        <div class="div-popup-close"><span class="alert-popup-title" id="span_popup_title">ស្វែងរកបុង</span><span class="span-close" onclick="closepopupsearch()">X</span></div>
        <div class="div-confirm-action" id="div_search_detail">
            <input type="text" value="" placeholder="ឆ្នោតទី" id="txtGameID" onchange="searchreceipt" /><span onclick="searchreceipt()" style="padding-left:10px;font-size:large;"><i class="fa fa-search" aria-hidden="true"></i></span>
            <div id="div_searchresult">

            </div>
        </div>
        </div>
    </div>
    <div class="div-popup" id="div_search_notyet_withdraw" style="display:none;">
        <div class="div-popup-detail-user">
        <div class="div-popup-close"><span class="alert-popup-title" id="span_popup_title_win">ស្វែងរកបុងមិនទាន់ដកប្រាក់</span><span class="span-close" onclick="closepopupsearchnotyetwithdraw()">X</span></div>
        <div class="div-confirm-action">
             <div  class="div-date-caption"><div class="date-caption">ចាប់ពីថ្ងៃ:</div><span><input class="date-textbox" type="text" id="txtstartdate" onchange="loadhistory_notyetwithdraw()" disabled="disabled"></span></div>
                <div  class="div-date-caption"><div class="date-caption">ដល់ថ្ងៃ:</div><span><input  class="date-textbox" type="text" id="txtenddate" onchange="loadhistory_notyetwithdraw()" disabled="disabled"></span></div>

            <div id="div_searchresult_notyearwithdraw">

            </div>
        </div>
        </div>
    </div>
    <div class="login div-confirm" id="div_confirm" style="display:none;">
        <div class="confirm-popup-title">តើអ្នកដកប្រាក់ឈ្នះនេះមែនទេ?</div>
        <div class="div-confirm-action" id="div_confirm_action">
            <span class="span-confirm-action"><input type="button" class="button-preview" onclick="confirmwithdraw()" /></span>
            <span class="span-confirm-action"><input type="button" class="button-preview" onclick="cancelwithdraw()" /></span>
        </div>
    </div>
    <div class="login" id="div_login" style="background-color:transparent;">
       <div style="text-align:left;margin-bottom: 25px;">
           <span onclick="viewformback()" style="background-color: white;  padding: 10px; border-radius: 10px;color: #f73;"><i class="fas fa-arrow-left"></i></span>
            <span onclick="refreshpage()" style="background-color: white;  padding: 10px; border-radius: 10px;color: #f73;"><i class="fas fa-refresh"></i></span>
            <span  onclick="showsearch()" style="background-color: white;  padding: 10px; border-radius: 10px;margin-left:30px;color: #f73;"><i class="fa fa-search" aria-hidden="true"></i></span>
             <span id="span_notyetwithdrawal"  onclick="showsearch_notyet_withdraw()" style="background-color: white;  padding: 10px; border-radius: 10px;margin-left:30px;color: #f73;"><i class="fa fa-paypal" aria-hidden="true"></i></span>

           </div>
             <div style="font-size:xx-large;display:none;">
            <img src='images/CamLotto.png' style='width:150px;'>
            <span class="logo-title" ><span style="color:black;">CAM</span><span style="color:#c67819"> LOTTO</span> <br></span>
            </div>
            <div id="div_credit" style="text-align:left;"></div>
            <div class="div-user">
            <div class="div-username" style="display:none;">លេខកូដ:<span><input type="text" class="div-input-text" id="txt_code" /></span></div> 
            <div class="div-qrcode" id="div_qrcode"><span style="cursor:pointer;position: absolute;right: 30px;top: 20px;font-size: 50px;" onclick="gotoscanner()" >
                <i class="fa-solid fa-qrcode"></i>
                </span>
                </div>
            </div>         
           
            

            <div id="div_result" class="receipt" style="display:none;">

            </div>
        </div>

</div>

  <script>
        $(document).ready(function() {
          
            $(function() {
                $("#txtstartdate").datepicker(
                {
                    dateFormat: 'dd-mm-yy',
                    
                }).datepicker("setDate",'now');
                 $("#txtenddate").datepicker(
                 {
                    dateFormat: 'dd-mm-yy',
                    
                 }).datepicker("setDate",'now');
            });
           
        })
    </script>