.button-viewform {
    font-size: x-large;
    font-family: inherit;
    width: 100%;
    margin: 0.5em 0;
    outline: none;
    padding: 1em;
    border-radius: 20px;
    text-transform: uppercase;
    box-sizing: border-box;
    border: none;
    background-color: #f73;
    color: white;
    max-width: 280px;
    font-weight: 900;
}
.div-viewform {
    margin: 5px;
    font-family: Koh Santepheap;
}

body {
    margin: 0;
    background-color: #052d40;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.div-popup {
    position: fixed;
    z-index: 9999;
    background-color: rgb(0 0 0 / 90%);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 10px;
}
.div-popup-detail {
    padding: 10px;
    border-radius: 15px;
}
.div-popup-close {
    text-align: right;
    padding: 5px 5px 20px 5px;
}
.alert-popup-title {
    padding: 5px;
    font-size: x-large;
    text-align: left;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
}
.span-close {
    padding: 5px 10px;
    color: white;
    background-color: #f73;
    border-radius: 5px;
}
.titile-password {
    padding: 15px 5px;
    float: left;
    width:150px;
}
.textbox {
    padding: 5px;
    border-radius: 10px;
    width: 120px;
}

.div-changepassword{
    text-align:center;
}
.div-option-button{
    height:70px;
}
.button-option {
    padding: 15px;
    background-color: #f73;
    margin-right: 10px;
    border-radius: 15px;
    
}
.div-info{
    color:red;
    text-align:center;
}