.div_option {
    float: left;
    height: 25vh;
    width: 19vh;
}

.ani_hack {
    width: 89vh !important;
}

.jackpot-small {
    text-align: center;
    padding: 2vh 0vh;
}

.result-active {
    background-color: #f73 !important;
    color: white !important;
    padding: 5.7vh 0.5vh 0.5vh 0.5vh !important;
    padding: 6.5vh 0.5vh 4.5vh 0.5vh !important;
}

.result-active-small {
    @ -89,17 +101,17 @@ display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 31%;
    width: 95%;
    border: solid 5px white;
    border-radius: 25px;
    padding: 5.7vh 0.5vh 0.5vh 0.5vh;
    border-radius: 5vh;
    padding: 5.7vh 0.5vh 5.5vh 0.5vh;
    position: relative;
}

.lotto-special-num-result {
    width: 100%;
    color: #ff7733;
    font-size: 7vh;
    font-size: 6vh;
    /*font-weight: 800;*/
    font-family: Khmer OS Muol Light;
}

@ -108,59 +120,59 @@ display: inline;
width: 10%;
color: white;
font-size: 3vh;
font-size: 4vh;
font-weight: bold;
border-radius: 25px;
font-family: Koh Santepheap;
font-family: arial;
margin-top: 15px;
padding: 5px;
padding: 10px;
border: solid 2px white;
background: #ff7733;
}

.white {
    color: white !important;
}

.lotto-special-num-div-span2-active {
    display: inline;
    width: 10%;
    color: white !important;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 25px;
    font-family: Koh Santepheap;
    margin-top: 15px;
    padding: 5px;
    border: solid 2px white;
}

.jakepot {
    font-size: 5vh;
    color: #f73;
    background-color: white;
    width: 80px;
    border-radius: 60px;
    width: 10vh;
    border-radius: 5vh;
    position: absolute;
    font-weight: bold;
    top: -5px;
    left: -5px;
    text-align: center;
}



.bg-right {
    background-color: black;
    background-image: linear-gradient(266deg,#0c4d75,rgba(14,90,136,.8901960784313725),#000000),url(../images/bg01.gif);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover !important;
    border-left: solid 10px #000509;
    height: 100vh;
}

.center-page {
    max-width: 165vh;
    margin: auto;
}
