/* _content/Gambling/Pages/Index.cshtml.rz.scp.css */
.counter[b-r35j2b5c43] {
    background-color: #f5f5f5;
    padding: 50px 0;
    border-radius: 5px;
}

.count-title[b-r35j2b5c43] {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text[b-r35j2b5c43] {
    font-size: 30px;
    font-family: 'Khmer OS Content'; 
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x[b-r35j2b5c43] {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

#logo[b-r35j2b5c43] {
    height: 150px;
    width:150px;
}



/* _content/Gambling/Pages/Index_blink.cshtml.rz.scp.css */
.counter[b-juirgopydg] {
    background-color: #f5f5f5;
    padding: 50px 0;
    border-radius: 5px;
}

.count-title[b-juirgopydg] {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text[b-juirgopydg] {
    font-size: 30px;
    font-family: 'Khmer OS Content'; 
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x[b-juirgopydg] {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

#logo[b-juirgopydg] {
    height: 150px;
    width:150px;
}



/* _content/Gambling/Pages/Index_spin_win.cshtml.rz.scp.css */
.counter[b-xhn7il6dqe] {
    background-color: #f5f5f5;
    padding: 50px 0;
    border-radius: 5px;
}

.count-title[b-xhn7il6dqe] {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text[b-xhn7il6dqe] {
    font-size: 30px;
    font-family: 'Khmer OS Content'; 
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x[b-xhn7il6dqe] {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

#logo[b-xhn7il6dqe] {
    height: 150px;
    width:150px;
}



/* _content/Gambling/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5gy8q5reng] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5gy8q5reng] {
  color: #0077cc;
}

.btn-primary[b-5gy8q5reng] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-5gy8q5reng], .nav-pills .show > .nav-link[b-5gy8q5reng] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-5gy8q5reng] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5gy8q5reng] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5gy8q5reng] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5gy8q5reng] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5gy8q5reng] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
